{% include '/meta/head.twig' %}

<section class="section about" id="about">
    <div class="container">
        <div class="section__heading">
            <h2 class="section__title">About Me</h2>
        </div>
        <div class="section__content">
         
            <p>Hi!</p>
            <p>I'm going to say stuff about me here</p>
        </div>
    </div>
</section>

<section class="section portfolio" id="portfolio">
    <div class="container">
    
        <div class="section__heading">
            <h2 class="section__title">Portfolio</h2>
        </div>

        <div class="section__content">
          Hello World
            3 favorite tyson steele sites (links to others)
          Solid Digital
            screenshots, description
          Epicodus
            3 projects
        </div>

    </div>
</section>

<section class="section skills" id="skills">
    <div class="container">
    
        <div class="section__heading">
            <h2 class="section__title">Skills/Tools</h2>
        </div>

        <div class="section__content">
            Front End
            JavaScript
            PHP
            Other
        </div>

    </div>
</section>

<section class="section contact" id="contact">
    <div class="container">
    
        <div class="section__heading">
            <h2 class="section__title">Contact Me</h2>
        </div>

        <div class="section__content">
            Contact Form
            Social Media
                LinkedIn
                Github
        </div>

    </div>
</section>

</body>
</html>