{% include '/meta/head.twig' %}

<section class="section about" id="about">
    <div class="container">
        <div class="section__heading">
            <h2 class="section__title">About Me</h2>
        </div>
        <div class="section__content">
         
            <p>Hi!</p>
            <p>I'm going to say stuff about me here</p>
        </div>
    </div>
</section>

<section class="section portfolio" id="portfolio">
    <div class="container">
    
        <div class="section__heading">
            <h2 class="section__title">Portfolio</h2>
        </div>

        <div class="section__content">
            <h3 class="project__title">Tyson Steele</h3>
            <h4 class="project__sub-title">Developer</h4>
            <p class="project__description">Tyson Steele does online marketing for hundreds of dentists across the US. As a developer on this project, I am responsible for turning client mockups into fully responsive websites and hosting the sites on a development server.</p>
                Dr. B.C. Nelson https://www.bcdds.com/
                Dr. Chris Clave https://www.bigskydentalclinic.com/
                Dr. Brian Henningsen https://www.drhenningsen.com/

            <h3 class="project__title">Proud Ground</h3>
            <h4 class="project__sub-title">Developer</h4>
            <p class="project__description">Proud Ground is a Portland, OR based non-profit that creates permanently affordable homeownership opportunities for first-time homebuyers. As a developer on this project, I am responsible for site maitinence and minor site updates.</p>
                https://proudground.org/
            
            <h3 class="project__title">Solid Digital</h3>
            <h4 class="project__sub-title">Web Development Intern</h4>
            <p class="project__description">Worked on an internal project using APIs, Express, MongoDB, Mongoose, and Pug templating along with Vue.js to pull and display user reporting data from GitLab. Created a general README template and integrated it into existing Node.js and Wordpress templates.</p>
                4 screenshots - check w/ Jonathan to make sure ok
        
            <h3 class="project__title">Epicodus</h3>
            <h4 class="project__sub-title">Web Bootcamp Student</h4>
            <p class="project__description">Completed course-work on PHP, JavaScript, and Drupal, along with various frameworks (Angular 2, Silex, etc.) and HTML/CSS. Learned how to work with other programmers through peer-programming, as well as developing problem-solving techniques.</p>
                Drupal 8: Whitewater http://dev-whitewater.pantheonsite.io/
                Drupal 7: Verbatim (received 1st Drupal Golden Dino) http://dev-verbatim.pantheonsite.io/
                JavaScript/Angular 2/Firebase: Sunny Days Whitewater https://whitewater-8efd7.firebaseapp.com/
        </div>

    </div>
</section>

<section class="section skills" id="skills">
    <div class="container">
    
        <div class="section__heading">
            <h2 class="section__title">Skills/Tools</h2>
        </div>

        <div class="section__content">
            Front End
                <li>HTML5</li>
                <li>CSS3 (BEM, SMACSS)</li>
                <li>Pug</li>
                <li>Responsive Design</li>
                <li>Design Patterns</li>
                <li>Sketch</li>
                <li>jQuery</li>
            JavaScript
                <li>ES5, ES6</li>
                <li>Node.js</li>
                <li>Gulp</li>
                <li>Angular</li>
                <li>Ember</li>
                <li>Express</li>
                <li>Vue.js</li>
                <li>Handlebars, Twig.js</li>
            PHP
                <li>Drupal 7</li>
                <li>Drupal 8</li>
                <li>Silex</li>
                <li>Symphony</li>
                <li>Twig</li>
            Other
                <li>MySQL</li>
                <li>Firebase</li>
                <li>MongoDB</li>
                <li>Mongoose</li>
                <li>Trello</li>
                <li>JIRA</li>
                <li>Agile</li>
                <li>Apache</li>
                <li>Slack</li>
                <li>Github</li>
                <li>GitLab</li>
        </div>

    </div>
</section>

<section class="section contact" id="contact">
    <div class="container">
    
        <div class="section__heading">
            <h2 class="section__title">Contact Me</h2>
        </div>

        <div class="section__content">
            Contact Form
            Social Media
                LinkedIn https://linkedin.com/in/michaela-davis
                Github https://github.com/Michaela-Davis
        </div>

    </div>
</section>

</body>
</html>