{% include '/meta/head.twig' %}

<section class="section about section--dark-grey" id="about">
    <div class="container">
        <div class="section__content">
            <div class="row">
                <div class="col-6 col-md-4 about__art">
                    <h2 class="about__art__title">Hi!<br>I'm<br>Michaela...</h2>
                </div>
                <div class="col-6 col-md-4">
                    <p>I have client and server-side full-stack experience. I'm interested in Frontend, Drupal, Atomic Design, Components, and Design Prototyping.<br> I received a Psychology degree with Honors and minors in Communication Studies and Human & Family Development from The University of Montana. In my spare time, I love to play board games and do art.</p>
                </div>
                <div class="col-6 col-md-4">
                    <img src="/assets/michaela.jpg" class="about__headshot" alt="Michaela Davis, Developer">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section portfolio section--dark-grey" id="portfolio">
    <div class="container">
    
        <div class="section__heading">
            <h2 class="section__title">Portfolio</h2>
        </div>

        <div class="section__content">

            <article class="project project--lighter-grey">
                <h3 class="project__title">Tyson Steele</h3> 
                <h4 class="project__sub-title">Developer</h4>
                <p class="project__description">Tyson Steele does online marketing for hundreds of dentists across the US. As a developer on this project, I am responsible for turning client mockups into fully responsive websites and hosting the sites on a development server. I completed 10 sites from start to finish in less than 5 months!</p>

                <div class="row">
                    <div class="col-6 col-md-4">
                        <a href="https://www.bcdds.com/" target="_blank">
                        <img src="/assets/screenshots/drNelson.png" class="project__thumbnail" alt="Dr. B.C. Nelson"></a>
                    </div>

                    <div class="col-6 col-md-4">
                        <a href="https://www.bigskydentalclinic.com/" target="_blank">
                        <img src="/assets/screenshots/drClave.png" class="project__thumbnail" alt="Dr. Chris Clave"></a>
                    </div>

                    <div class="col-6 col-md-4">
                        <a href="https://www.drhenningsen.com/" target="_blank">
                        <img src="/assets/screenshots/drHenningsen.png" class="project__thumbnail" alt="Dr. Brian Henningsen"></a>
                    </div>
                </div>

            </article>

            <article class="project project--lighter-grey">
                <h3 class="project__title">Proud Ground</h3>
                <h4 class="project__sub-title">Developer</h4>
                <p class="project__description">Proud Ground is a Portland, OR based non-profit that creates permanently affordable homeownership opportunities for first-time homebuyers. As a developer on this project, I am responsible for site maitinence and minor site updates.</p>
                <a href="https://proudground.org/" target="_blank">
                    <img src="/assets/screenshots/proudground.png" class="project__thumbnail" alt="Proud Ground">
                </a>
                    {# https://proudground.org/ #}
            </article>

            <article class="project project--lighter-grey">
                <h3 class="project__title">Solid Digital</h3>
                <h4 class="project__sub-title">Web Development Intern</h4>
                <p class="project__description">Worked on an internal project using APIs, Express, MongoDB, Mongoose, and Pug templating along with Vue.js to pull and display user reporting data from GitLab. Created a general README template and integrated it into existing Node.js and Wordpress templates.</p>
                <p>4 screenshots - check w/ Jonathan to make sure ok </p>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <img src="/assets/screenshots/solidPlaceholder.png" class="project__thumbnail" alt="Solid Placeholder">
                    </div>
                    <div class="col-6 col-md-3">
                        <img src="/assets/screenshots/solidPlaceholder.png" class="project__thumbnail" alt="Solid Placeholder">
                    </div>
                    <div class="col-6 col-md-3">
                        <img src="/assets/screenshots/solidPlaceholder.png" class="project__thumbnail" alt="Solid Placeholder">
                    </div>
                    <div class="col-6 col-md-3">
                        <img src="/assets/screenshots/solidPlaceholder.png" class="project__thumbnail" alt="Solid Placeholder">
                    </div>
                </div>
            </article>
        
            <article class="project project--lighter-grey">
                <h3 class="project__title">Epicodus</h3>
                <h4 class="project__sub-title">Web Bootcamp Student</h4>
                <p class="project__description">Completed course-work on PHP, JavaScript, and Drupal, along with various frameworks (Angular 2, Silex, etc.) and HTML/CSS. Learned how to work with other programmers through peer-programming, as well as developing problem-solving techniques.</p>

                <div class="row">
                    <div class="col-6 col-md-4">
                        <a href="http://dev-whitewater.pantheonsite.io/" target="_blank"> <p>Drupal 8: Whitewater</p> <img src="/assets/screenshots/drupal8Whitewater.png" class="project__thumbnail" alt="Drupal 8 Whitewater Project"></a>
                    </div>

                    <div class="col-6 col-md-4">
                        <a href="http://dev-verbatim.pantheonsite.io/" target="_blank">Drupal 7: Verbatim (received 1st Drupal Golden Dino)<img src="/assets/screenshots/drupal7Verbatim.png" class="project__thumbnail" alt="Drupal 7 Verbatim Project"></a>
                    </div>

                    <div class="col-6 col-md-4">
                        <a href="https://whitewater-8efd7.firebaseapp.com/" target="_blank">Angular 2/Firebase: Sunny Days Whitewater<img src="/assets/screenshots/angularSunnyDays.png" class="project__thumbnail" alt="JavaScript/Angular 2/Firebase: Sunny Days Whitewater"></a>
                    </div>
                </div>



            </article>
        </div>

    </div>
</section>

<section class="section skills section--dark-grey" id="skills">
    <div class="container">
    
        <div class="section__heading">
            <h2 class="section__title">Skills/Tools</h2>
        </div>

        <div class="section__content">
            <div class="row">
                <div class="col-6 col-md-3">
                    <h5 class="list__title">Front End</h5>
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3 (BEM, SMACSS)</li>
                        <li>Pug</li>
                        <li>Responsive Design</li>
                        <li>Design Patterns</li>
                        <li>Sketch</li>
                        <li>jQuery</li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h5 class="list__title">JavaScript</h5>
                    <ul>
                        <li>ES5</li>
                        <li>Node.js</li>
                        <li>Gulp</li>
                        <li>Angular</li>
                        <li>Ember</li>
                        <li>Express</li>
                        <li>Vue.js</li>
                        <li>Handlebars, Twig.js</li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h5 class="list__title">PHP</h5>
                    <ul>
                        <li>Drupal 7</li>
                        <li>Drupal 8</li>
                        <li>Silex</li>
                        <li>Symphony</li>
                        <li>Twig</li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h5 class="list__title">Other</h5>
                    <ul>
                        <li>JIRA / Trello</li>
                        <li>Agile</li>
                        <li>Slack</li>
                        <li>Git, Github, GitLab</li>
                        <li>MySQL</li>
                        <li>Firebase</li>
                        <li>MongoDB</li>
                        <li>Mongoose</li>
                        <li>Apache</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section contact section--lightest-grey" id="contact">
    <div class="container">
        <div class="section__heading">
            <h2 class="section__title">Contact Me</h2>
        </div>
        <div class="section__content">
            <div class="row">
                <div class="col-sm">
                    <form action="https://formspree.io/michaela.delight@gmail.com" method="POST" class="row">
                        <div class="form-group col-12 col-sm-6">
                            <label for="name">Name:</label>
                            <input type="text" name="name" placeholder="Name">
                        </div>
                        <div class="form-group col-12 col-sm-6">
                            <label for="email">Email:</label>
                            <input type="email" name="_replyto" placeholder="Email">
                        </div>
                        <div class="form-group col-12">
                            <label for="textarea">What's up?</label>
                            <textarea name="textarea" placeholder="What would you like to talk about?"></textarea>
                        </div>
                        <div class="forg-group col">
                            <input type="submit" value="Send">
                        </div>
                    </form>
                </div>
                <div class="col-sm">
                    <h3>Social Media</h3>
                    <div class="social-media">
                        <a href="https://linkedin.com/in/michaela-davis" class="social-media__link">
                            <i class="fa fa-3x fa-linkedin-square social-media-icon" aria-hidden="true"></i>
                        </a>
                        <a href="https://github.com/Michaela-Davis" class="social-media__link">
                            <i class="fa fa-3x fa-github-square social-media-icon" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.instagram.com/handmaderevival" class="social-media__link">
                            <i class="fa fa-3x fa-instagram social-media-icon" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3>P.S. This stuff is awesome!</h3>
                     <h5 class="list__title">Design</h5>
                    <ul>
                        <li>http://atomicdesign.bradfrost.com/</li>
                    </ul>
                    <h5 class="list__title">CSS</h5>
                    <ul>
                        <li>https://css-tricks.com/</li>
                        <li>https://flexboxfroggy.com</li>
                    </ul>
                    <h5 class="list__title">Books</h5>
                        <ul>
                            <li>JavaScript & jQuery</li>
                            <li>Grokking Algorithms</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
