{% include '/meta/head.twig' %}

{# <section class="section about section--dark-grey" id="about">
    <div class="container">
        <div class="section__content">
            <div class="row about">
                <div class="col-12 col-lg-4">
                    <div class="about__art">
                        <h2 class="about__art__title">Hi!</h2>
                        <h2 class="about__art__title">I'm<br>Michaela...</h2>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="about__intro">
                        <p class="about__intro__first">I have client and server-side full-stack experience but my development passions are Frontend and Drupal. I'm also interested in Atomic Design, Components, and Algorithms.</p>
                        <p class="about__intro__last">I received a Psychology degree with Honors as well as dual minors from The University of Montana. In my spare time, I love to play board games and do art (there's a picture of some on the left).</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                
                    <img src="/assets/michaela.jpg" class="about__headshot" alt="Michaela Davis">
                
                </div>
            </div>
        </div>
    </div>
</section> #}

<section class="section portfolio section--dark-grey" id="portfolio">
    <div class="container">
    
        <div class="section__heading">
            <h2 class="section__title">Portfolio</h2>
        </div>

        <div class="section__content">

            {# Tyson Steele #}
            <article class="project project--lighter-grey">
                <h3 class="project__title">Tyson Steele</h3> 
                <h4 class="project__sub-title">Developer</h4>
                <p class="project__description">Tyson Steele does online marketing for hundreds of dentists across the US. As a developer on this project, I am responsible for turning client mockups into fully responsive websites and hosting the sites on a development server. I completed 10 sites by myself from start to finish in less than 5 months! The images below are clickable links to the live versions of 3 of my recent sites.</p>

                <div class="row">
                    <div class="col-12 col-md-4 space-around">
                        <a href="https://www.bcdds.com/" target="_blank">
                        <img src="/assets/screenshots/drNelson.png" class="project__thumbnail" alt="Dr. B.C. Nelson"></a>
                    </div>

                    <div class="col-12 col-md-4 space-around">
                        <a href="https://www.bigskydentalclinic.com/" target="_blank">
                        <img src="/assets/screenshots/drClave.png" class="project__thumbnail" alt="Dr. Chris Clave"></a>
                    </div>

                    <div class="col-12 col-md-4 space-around">
                        <a href="https://www.drhenningsen.com/" target="_blank">
                        <img src="/assets/screenshots/drHenningsen.png" class="project__thumbnail" alt="Dr. Brian Henningsen"></a>
                    </div>
                </div>
            </article>

            {# Proud Ground #}
            <article class="project project--lighter-grey">
                <h3 class="project__title">Proud Ground</h3>
                <h4 class="project__sub-title">Developer</h4>
                <p class="project__description">Proud Ground is a Portland, OR based non-profit that creates permanently affordable homeownership opportunities for first-time homebuyers. As a developer on this project, I am responsible for site maitinence and minor site updates.</p>
                <div class="row row--center">

                    {# visible-sm and down (hidden-md and up) #}
                    <div class="space-around">
                        <div class="col-12 d-sm-block d-md-none d-lg-none d-xl-none">
                            <a href="https://proudground.org/" target="_blank">
                                <img src="/assets/screenshots/proudground.png" class="project__thumbnail" alt="Proud Ground">
                            </a>
                        </div>
                    </div>

                    {# visible-md and up (hidden-sm and down) #}
                    <div class="col-md-4 d-none d-md-block">
                        <a href="https://proudground.org/" target="_blank">
                            <img src="/assets/screenshots/proudground.png" class="project__thumbnail" alt="Proud Ground">
                        </a>
                    </div>

                </div>
            </article>

            {# Solid Digital #}
            <article class="project project--lighter-grey">
                <h3 class="project__title">Solid Digital</h3>
                <h4 class="project__sub-title">Web Development Intern</h4>
                <p class="project__description">Worked with another Epicodus intern at Solid Digital (previously Solid Interactive) to create an internal "Merge Requests Dashboard" using APIs, Express, MongoDB, Mongoose, and Pug templating along with Vue.js to pull and display user reporting data from GitLab. I designed and styled the user interface for the internal project (see screenshots of before and after below) as well as creating the individual user pages. Created a general README template and integrated it into existing Node.js and Wordpress templates. </p>
                {# <p style="color:red;">Checking w/ Solid's CTO about NDA before posting actual</p> #}
                <div class="row">
                    <div class="col-6 col-md-3">
                        <div class="space-around">
                            <a href="https://www.soliddigital.com/" target="_blank"> <p class="center">Dashboard Home:<br>BEFORE</p>
                            <img src="/assets/screenshots/solidPlaceholder.png" class="project__thumbnail" alt="Solid Placeholder"></a>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="space-around">
                            <a href="https://www.soliddigital.com/" target="_blank"> <p class="center">Dashboard Home:<br>AFTER</p>
                            <img src="/assets/screenshots/solidPlaceholder.png" class="project__thumbnail" alt="Solid Placeholder"></a>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="space-around">
                            <a href="https://www.soliddigital.com/" target="_blank"> <p class="center">Dashboard User:<br>BEFORE</p>
                            <img src="/assets/screenshots/solidPlaceholder.png" class="project__thumbnail" alt="Solid Placeholder"></a>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="space-around">
                            <a href="https://www.soliddigital.com/" target="_blank"> <p class="center">Dashboard User:<br>AFTER</p>
                            <img src="/assets/screenshots/solidPlaceholder.png" class="project__thumbnail" alt="Solid Placeholder"></a>
                        </div>
                    </div>
                </div>
            </article>

            {# Epicodus #}
            <article class="project project--lighter-grey">
                <h3 class="project__title">Epicodus</h3>
                <h4 class="project__sub-title">Web Bootcamp Student</h4>
                <p class="project__description">Completed course-work on PHP, JavaScript, and Drupal, along with various frameworks (Angular 2, Silex, etc.) and HTML/CSS. Learned how to work with other programmers through peer-programming, as well as developing problem-solving techniques. The images below are clickable links to the live versions of 3 of my favorite solo sites.</p>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="space-around">
                            <a href="http://dev-whitewater.pantheonsite.io/" target="_blank"><p class="center">Drupal 8: Whitewater</p><img src="/assets/screenshots/drupal8Whitewater.png" class="project__thumbnail" alt="Drupal 8 Whitewater Project"></a>
                        </div>
                        <p class="project__description">This was my final project for Epicodus, which was completed in about 2 days. I love Drupal so much that I decided to do my project in Drupal 8 even though it wasn't part of the curriculum.</p>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="space-around">
                            <a href="http://dev-verbatim.pantheonsite.io/" target="_blank"><p class="center">Drupal 7: Verbatim</p><img src="/assets/screenshots/drupal7Verbatim.png" class="project__thumbnail" alt="Drupal 7 Verbatim Project (received 1st Drupal Golden Dino)"></a>
                        </div>
                        <p class="project__description">I received the 1st Golden Dino Award for Drupal (decided by the instructor) for how I made the site look. Styling was not a requirement or something we were taught but it makes me happy! This was a solo Friday project for Epicodus.</p>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="space-around">
                            <a href="https://whitewater-8efd7.firebaseapp.com/" target="_blank"><p class="center">Angular 2: Sunny Days</p><img src="/assets/screenshots/angularSunnyDays.png" class="project__thumbnail" alt="JavaScript/Angular 2/Firebase: Sunny Days Whitewater"></a>
                        </div>
                        <p class="project__description">This solo Friday project incorporates TypeScript into Angular 2 and connects to Firebase for data storage. It live updates instantaneously thanks to two-way data binding. Note the custom favicon on the tab for the live site - not required but I made it a personal goal.</p>
                    </div>
                </div>



            </article>
        </div>

    </div>
</section>

{# <section class="section skill section--dark-grey" id="skills">
    <div class="container">
    
        <div class="section__heading">
            <h2 class="section__title">Skills/Tools</h2>
        </div>

        <div class="section__content">
            <div class="row space-around">
                <div class="col-5 col-md-2">
                    <h5 class="list__title">Front End</h5>
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3 (BEM, SMACSS)</li>
                        <li>Pug</li>
                        <li>Responsive Design</li>
                        <li>Design Patterns</li>
                        <li>Sketch</li>
                        <li>jQuery</li>
                    </ul>
                </div>
                <div class="col-5 col-md-2">
                    <h5 class="list__title">JavaScript</h5>
                    <ul>
                        <li>ES5</li>
                        <li>TypeScript</li>
                        <li>Node.js</li>
                        <li>Gulp</li>
                        <li>Angular</li>
                        <li>Ember</li>
                        <li>Express</li>
                        <li>Vue.js</li>
                        <li>Handlebars, Twig.js</li>
                    </ul>
                </div>
                <div class="col-5 col-md-2">
                    <h5 class="list__title">PHP</h5>
                    <ul>
                        <li>Drupal 7</li>
                        <li>Drupal 8</li>
                        <li>Silex</li>
                        <li>Symphony</li>
                        <li>Twig</li>
                    </ul>
                </div>
                <div class="col-5 col-md-2">
                    <h5 class="list__title">Other</h5>
                    <ul>
                        <li>JIRA / Trello</li>
                        <li>Agile</li>
                        <li>Slack</li>
                        <li>Git, Github, GitLab</li>
                        <li>MySQL</li>
                        <li>Firebase</li>
                        <li>MongoDB</li>
                        <li>Mongoose</li>
                        <li>Apache</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section> #}

{# <section class="section contact section--lightest-grey" id="contact">
    <div class="container">
        <div class="section__heading">
            <h2 class="section__title">Contact Me</h2>
        </div>
        <div class="section__content">
            <div class="row">
                <div class="col-sm">
                    <form action="https://formspree.io/michaela.delight@gmail.com" method="POST" class="row">
                        <div class="form-group col-12 col-sm-6">
                            <label for="name">Name:</label>
                            <input type="text" name="name" placeholder="Name">
                        </div>
                        <div class="form-group col-12 col-sm-6">
                            <label for="email">Email:</label>
                            <input type="email" name="_replyto" placeholder="Email">
                        </div>
                        <div class="form-group col-12">
                            <label for="textarea">What's up?</label>
                            <textarea name="textarea" placeholder="What would you like to talk about?"></textarea>
                        </div>
                        <div class="forg-group col">
                            <input type="submit" value="Send">
                        </div>
                    </form>
                </div>
                <div class="col-sm">
                    <h3>Social Media</h3>
                    <div class="social-media">
                        <a href="https://linkedin.com/in/michaela-davis" class="social-media__link">
                            <i class="fa fa-3x fa-linkedin-square social-media-icon" aria-hidden="true"></i>
                        </a>
                        <a href="https://github.com/Michaela-Davis" class="social-media__link">
                            <i class="fa fa-3x fa-github-square social-media-icon" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.instagram.com/handmaderevival" class="social-media__link">
                            <i class="fa fa-3x fa-instagram social-media-icon" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3>P.S. This stuff is awesome!</h3>
                     <h5 class="list__title">Design</h5>
                    <ul>
                        <li><a href="http://atomicdesign.bradfrost.com/">Atomic Design</a></li>
                    </ul>
                    <h5 class="list__title">CSS</h5>
                    <ul>
                        <li><a href="https://css-tricks.com/">CSS Tricks</a></li>
                        <li><a href="https://flexboxfroggy.com">Flexbox Froggy</a></li>
                    </ul>
                    <h5 class="list__title">Books</h5>
                        <ul>
                            <li><a href="http://javascriptbook.com/">"JavaScript & jQuery" by Jon Duckett</a></li>
                            <li><a href="https://www.manning.com/books/grokking-algorithms">"Grokking Algorithms" by Aditya Y. Bhargava</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</section> #}

</body>
</html>