@import "/**/*.scss";

// Colors
$white: #fff;
$smoke: #8d8d8d;
$blue: #589795;
$charcoal: #262322;
$black: #1b1919;

// Override _Reboot
img {
  max-width: 100%;
}

label {
  display: block;
}

input,
textarea {
  width: 100%;
}

input[type="submit"] {
  background-color: $blue;
  border: none;
  width: auto;
  text-align: center;
  padding: 10px 25px;
  color: $white;
}

// Helper/Utility Classes
.row {
  &--center {
    justify-content: center;
  }
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.center {
  text-align: center;
}

.align-vertical-center {
  align-content: center;

  @media screen and (min-width: 768px) {
    padding-top: 90px;
  }

  @media screen and (min-width: 992px) {
    padding-top: 70px;
  }
}

// Typography
$font-primary: 'Shadows Into Light Two', cursive;
$font-copy: 'Lato', sans-serif;

@mixin font-colors($primary: $blue, $secondary: $white) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary;
  }

  a,
  p,
  li,
  span {
    color: $secondary;
  }

  a:hover {
    color: darken($secondary, 50%);
  }
}

@include font-colors();

h1 {
  font-size: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 700;
}

a,
p,
li,
span {
  font-family: $font-copy;
  color: $smoke;
}

ul {
  padding-left: 20px;
}

.btn {
  border: dashed 3px $blue;
}

.section {
  padding: 20px 0;

  @media screen and (min-width: 992px) {
    padding: 30px 0;
  }

  &__heading {
    margin-bottom: 45px;
    border-bottom: solid 4px $blue;
    text-shadow: 1px 2px 2px black;
    letter-spacing: 5px;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
  }

  &--lighter-grey {
    background-color: $white;

    @include font-colors($blue, $charcoal);
  }

  &--light-grey {
    background-color: $smoke;

    @include font-colors($blue, $charcoal);
  }

  &--dark-grey {
    background-color: $charcoal;

    @include font-colors($blue, $white);
  }

  &--black {
    background-color: $black;

    @include font-colors($blue, $blue);
  }
}

.about {
  padding-top: 35px;
  justify-content: space-between;

  &__art {
    background-image: url('/assets/mDelightNov2017.jpg');
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      color: $white !important;
      text-align: center;
      font-size: 65px;
      text-shadow: 2px 2px 2px black;
      letter-spacing: 3px;
      padding: 15px;
    }
  }

  &__intro {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 768px) {
      padding: 55px;
    }

    @media screen and (min-width: 992px) {
      padding: 15px;
    }

    p {
      text-indent: 25px;
      text-align: justify;
    }

    &__icons {
      padding: 25px 15px 0;
    }
  }

  &__headshot {
    width: 100%;

    @media screen and (max-width: 991px) {
      max-width: 300px;
    }
  }

  div:last-child {
    text-align: center;
  }
}

.list {
  li a {
    color: $blue;
    text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.51);
    text-decoration: underline;
  }

  &__title {
    letter-spacing: 2px;
  }
}

.project {
  border-radius: 15px;
  padding: 45px 35px;
  margin: 45px 0;
  border: solid 4px $blue;

  @include font-colors($black, $charcoal);

  &__title {
    display: inline-block;
    text-shadow: 1px 2px 2px #000;
    color: $blue !important;
    letter-spacing: 5px;
  }

  &__sub-title {
    display: inline-block;
    letter-spacing: 3px;
    margin-left: 25px;
  }

  &__description {
    padding: 15px 20px;
    // text-indent: 25px;
  }

  &__screenshot-title {
    font-family: $font-primary;
    letter-spacing: 2px;
  }

  &__thumbnail {
    width: 300px;
    max-width: 100%;
    margin: 0 8px 15px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.35);
  }

  &--lighter-grey {
    background-color: $white;
  }

  &--light-grey {
    background-color: $smoke;
  }

  &--dark-grey {
    background-color: $charcoal;
  }

  &--black {
    background-color: $black;
  }
}

.skill {
  padding-top: 0;

  &__title {
    text-align: left;
  }

  &__subtitle {
    text-align: left;
  }

  &__copy {
    text-align: left;
  }
}

.contact {
  label {
    color: $blue;
  }
}

.form {
  margin-bottom: 10px;
  margin-top: 10px;

  &__input {
    background-color: rgba(88, 151, 149, 0.3) !important;
    opacity: 70%;
    color: $white !important;
    border-radius: 5px;
  }
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  padding: 30px 10px;
  margin: 10px 0;

  &-background {
    text-shadow: 2px 2px 2px black;
    background-image: url('/assets/mDelightNov2017.jpg');
    background-size: cover;
    height: auto;
    min-height: 200px;
    margin-bottom: 5px;
  }

  &-text {
    color: $white !important;
    text-shadow: 2px 2px 2px black;
    padding-top: 30px;
  }

  &-icon {
    color: $white;
  }
}

.ps {
  text-align: right;

  @media (max-width: 767px) {
    padding-top: 20px;
  }

  ul {
    list-style: none;
  }

  &__title {
    padding-bottom: 5px;
    border-bottom: solid 2px $blue;
    margin-bottom: 15px;
    margin-left: 45px;
  }
}
